<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Spark LMS - Login</title>

    <th:block th:replace="fragments/styles :: common"></th:block>

</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <th:block th:replace="fragments/sidemenu :: menu"></th:block>
        <th:block th:replace="fragments/topmenu :: menu"></th:block>


        <!-- page content -->
        <div class="right_col" role="main"></div>
        <!-- /page content -->

        <th:block th:replace="fragments/footer :: footer"></th:block>

    </div>
</div>

<th:block th:replace="fragments/scripts :: common"></th:block>
</body>
</html>